# i hate macos
.DS_Store

# rust build artifacts
rust/target/

# rust cache and temporary files
rust/.rustc_info.json
rust/CACHEDIR.TAG

# godot imports and cache (these get regenerated)
godot/.godot/
godot/.import/
**/*.import

# other common unneeded files
*.log
*.tmp
README.md
LICENSE
*.md
